#box4{
    background-color: rgb(255, 198, 11);
    border: 7px solid white;
    width: 999px;
}
#menu4{
    margin: auto;
	text-align: center;
	border: 10px solid rgba(255, 198, 11, 0.885);
	padding-bottom: 20px;
	width: 500px;
    height: 100px;
	background-color: rgb(255, 198, 11);
}
#groupsas{
    text-align: center;
    display: flex; 
    padding-right:100px;
}
#videos{
    margin-left: 10px;
}
#text {
    display: flex;
    justify-content: space-between;
    border: 2px solid rgba(255, 198, 11, 0.652);
    background-color: rgba(255, 198, 11, 0.652);
    padding: 10px;
    margin-right: 10px;
}

#text p {
    margin: 0 10px;
}
